@font-face {
    font-family: starwars;
    src: url(../fonts/STARWARS.woff);
}

#workingSpace{
    width: 80%;
    background-image: url("../img/stars-bg.jpg");
    margin: 5% auto;
}

#header{
    height: 45px;
    text-align: center;
    font-family: starwars;
    font-size: 30px;
    color: white;
}

#menu{
    background-color: transparent;
    font-family: starwars;
    font-size: 20px;
    color: white;
}

#field{
    width: 100%;
    height: 450px;
    margin: 20px 0px;
    text-align: -webkit-center;
    display: block;
    position: relative;
}

#divPlayingField{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: yellow;*/

}

#footer{
    height: 40px;
    font-family: starwars;
    color: white;
}

.button {
    font-size: 1px;
    width: 25px;
    height: 25px;
    margin: 1px;
    float: left;
    padding: 0;
    border: 0;
    opacity: 0.5;
}

.button:hover {
    background: #4486F8;

}

.button:active {
    background: #4486F8;
}

.buttonActiveFix {
    background-color: #4486F8;
}

.divActiveButton {
    width: 25px;
    height: 25px;
    background-color: #F4A460;
    text-align: center;
    float: left;
    margin: 1px;
    border-width: 2px;
}


